<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start | Kevin Lagergren</title>

    <link rel="stylesheet" href="/css/landingpage.css" />
  </head>
  <body>
    <div class="container">
      <h1>GritAcademy</h1>

      <div class="card">
        <h2>Studenter</h2>
        <a href="/students">Se studenter</a>
        <a href="/students/new">Lägg till ny student</a>
      </div>
      <div class="card">
        <h2>Kurser</h2>
        <a href="/courses">Se kurser</a>
        <a href="/courses/new">Lägg till ny kurs</a>
      </div>

      <div class="card">
        <h2>Studenter och kurser</h2>
        <a href="/students-courses">Se studenter och kurser</a>
      </div>

      <div class="card">
        <h2>API Docs</h2>
        <a href="/apidocs">API Docs</a>
      </div>
    </div>
  </body>
</html>
