@import url('variables.css');

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color-dark);
  padding: var(--container-padding);
}

h1,
h2 {
  color: var(--text-color-dark);
}

p {
  margin: 10px 0;
  font-size: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background-color: var(--container-bg-color);
  margin: 5px 0;
  padding: 10px;
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-box-shadow);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  padding: var(--button-padding);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
  display: inline-block;
  margin-top: 10px;
}

a:hover {
  background-color: var(--button-hover-bg-color);
  text-decoration: var(--link-hover-decoration);
}

@media (max-width: 600px) {
  body {
    padding: var(--mobile-container-padding);
  }
  a {
    margin: 10px auto;
    display: block;
  }
}
